@model Satluj_Latest.Models.ProgressCardModel
@{
    ViewBag.Title = "GenerateCertificate";
    Layout = "~/Views/Shared/_ParentLayout.cshtml";
}

<style>
    .with-icon {
        position: relative;
    }

        .with-icon i {
            position: absolute;
            right: 12px;
            top: 12px;
        }

    input[type=text], input[type=password], textarea, select {
        border: 1px solid #ccc;
    }

    .schooJs {
        padding: 50px 0px;
        min-height: 85vh;
    }

    .student-name-design {
        color: #0394d1;
        filter: contrast;
        margin-bottom: 4%;
        font-weight: bold;
    }
</style>

@Html.HiddenFor(z => z.SchoolId, new { Value = @Model.SchoolId })
@Html.HiddenFor(z => z.RegionId, new { Value = @Model.RegionId })
@Html.HiddenFor(z => z.ClassId, new { Value = @Model.ClassId })
@Html.HiddenFor(z => z.DivisionId, new { Value = @Model.DivisionId })
@Html.HiddenFor(z => z.StudentId, new { Value = @Model.StudentId })
@Html.HiddenFor(z => z.ExamId, new { Value = 0 })

<section class="schooJs">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <input type="hidden" value="@Model.StudentId" id="hfStudentId" />
                <div class="form-group col-sm-12" style="margin-top: 100px;">
                    <h3 class="student-name-design">@Model.ProgressCardName</h3>
                    <div class="row">
                        <div class="form-group col-sm-4">
                            <div class="form-group font-color">
                                <h4 style="font-weight:bold;">Your Kid : @Model.StudnetName</h4>
                                <br />
                                <label>Region : @Model.RegionName</label>
                                <br />
                                <label>Class :@Model.ClassName</label>
                                <br />
                                <label>Division :@Model.DivisionName</label>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <div class="form-group font-color">
                                <label>Exam :</label>
                                <select class="form-control slct-exam-dropdown1" disabled></select>
                                <span id="exam-required-examlist-add" style="display:none; color:red;"></span>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            @*<a class="btn pay-now-btn " data-toggle="model" style="margin-left: 63px;" id="btn-student-Generate">Generate</a>*@
                            <button class="dropdown-toggle" id="btn-student-Generate" data-className="@Model.ClassName" type="button" data-toggle="dropdown" style="margin-top:6%; background:#0394d1; border:none; padding:10px 15px; color:#fff; border-radius:26px;">
                                Generate
                            </button>
                        </div>
                    </div>

                </div>
            </div>
           
        </div>
    </div>
</section>






<script>



    $(document).ready(function () {
        var classId = $('#ClassId').val();
        var divId = $('#DivisionId').val();
        if (divId != '' && classId != '') {
            $.ajax({
                url: '/Data/LoadAllExams?id=' + divId + '&schoolid=' + $('#SchoolId').val() + '&classId=' + classId,
                type: "GET",
                success: function (result) {
                    if (result.list.length > 0) {
                        $(".slct-exam-dropdown1").html("");
                        //$(".slct-exam-dropdown1").append($('<option></option>').val("0").html('-- Select Exam --'));
                        $.each(result.list, function (i, item) {
                            $(".slct-exam-dropdown1").append($('<option></option>').val(item.Value).html(item.Text));
                        });
                        $(".slct-exam-dropdown1").prop("disabled", false);
                        $('#exam-required-examlist-add').hide();
                    }
                    else {
                        $(".slct-exam-dropdown1").html("");
                        $(".slct-exam-dropdown1").append($('<option></option>').val("0").html('-- No Exam Found --'));
                        $(".slct-exam-dropdown1").prop("disabled", true);
                    }
                }
            });
        }
        else {
            $('#division-required-teacher-add').hide();
            $(".slct-exam-dropdown1").html("");
            $(".slct-exam-dropdown1").append($('<option></option>').val("0").html('-- Select Exam --'));
            $(".slct-exam-dropdown1").prop("disabled", true);
        }
    });



    $(document).on('click', '#btn-student-Generate', function () {
        //var studnetId = $('#StudentId').val();
        //var ExamId = $('.slct-exam-dropdown1').children("option:selected").val();
        //if (ExamId != 0) {
        //    var id = studnetId + '~' + ExamId;
        //    var link = '/Parent/ParentProgressCardGeneration/' + id;
        //    window.open(link, '_blank');
        //}
        var studnetId = $('#StudentId').val();
        var ExamId = $('.slct-exam-dropdown1').children("option:selected").val();
        var className = $(this).attr("data-className");
        if (ExamId != 0) {
            var id = studnetId + '~' + ExamId;
            if (className == 'V') {
                //toastrError('Under Process!');
                var link = '/SpecialClass/VProgressCard/' + id;
                window.open(link, '_blank');
            }
            else {
                var link = '/Progress/VtoIXProgressCard/' + id;
                window.open(link, '_blank');
            }
        }

    });





</script>
