@model Satluj_Latest.Models.AcademicPeriodsModelClass
@{
    long schoolId = Model.SchoolId;
    var data = Model.PeriodList;
    int x = 1;
    bool IsAdmin = Convert.ToBoolean(ViewBag.IsAdmin ?? false);
}
<table class="table custome-table academic-periods-list">
    <thead>
        <tr>
            <th>
                Sl No
            </th>
            <th>
                Class Name
            </th>
            <th>
                Start Date
            </th>
            <th>
                End Date
            </th>
            <th>
                Periods Name
            </th>
            @*@if (IsAdmin == true)
                {
                    <th></th>
                }*@
        </tr>
    </thead>
    <tbody>

        @if (data != null && data.Count > 0)
        {
            foreach (var item in data)
            {
                <tr>
                    <td>@x</td>
                    <td>@item.ClassName</td>
                    <td>@item.StartDate.ToShortDateString()</td>
                    <td>@item.EndDate.ToShortDateString()</td>
                    <td>@item.PeriodsName</td>
                </tr>
                x++;
            }
        }
        else
        {
            <tr>
                <td colspan="5" style="text-align:center;">No Periods Found</td>
            </tr>
        }
    </tbody>
</table>
