@model Satluj_Latest.Models.StudentSkillMarks

@{
    int count = 1;
        bool IsAdmin = ViewBag.IsAdmin;
  

}
@Html.HiddenFor(z => z.SchoolId, new { Value = @Model.SchoolId })
@Html.HiddenFor(z => z.DivisionId, new { Value = @Model.DivisionId })
@Html.HiddenFor(z => z.AssesmentId, new { Value = @Model.AssesmentId })
@Html.HiddenFor(z => z.SubjectId, new { Value = @Model.SubjectId })
<style>
    .cust-ip {
        padding: 5px 5px !important;
        width: 40px;
        text-align: center;
        height: 25px;
    }

    .TH-Slnumber {
        color: black;
        padding-right: 7px;
        width: 1px;
    }

    .Th-English {
        color: black;
        padding-right: 4px;
        width: 1px;
        padding-left: 4px;
    }
</style>

<div class="table-responsive">


    @if (Model.SubjectId == 1) //Hindi
            {
        <table class="table account-table" id="tbstdMarkList">
            <tr id="thead">
                <th style="" class="TH-Slnumber">
                    Sl.No
                </th>
                <th style="color: black;">
                    Name

                </th>
                <th class="Th-English">
                    Writing
                </th>
                <th class="Th-English">
                    Reading
                </th>
                <th class="Th-English">
                    Listening
                </th>

                <th class="Th-English">
                    Weekly Assessment
                </th>
                <th class="Th-English">
                    Speaking
                </th>
                <th class="Th-English">
                    Terminal Assessment
                </th>
                <th class="Th-English">
                    Aggregate Grade
                </th>
            </tr>
            <tbody id="bodyTable">

                @foreach (var a1 in Model._ONE_FOUR)
                {
                    <tr data-id="tbRowAmount" style="color:black;" data-StudentId="@a1.StudentId" data-ClassId="@a1.ClassId" class="cls-tr-class">
                        <td>
                            @*<label>@count</label>*@
                            @count
                        </td>
                        <td>
                            @a1.StundentName
                        </td>
                        <td>
                            <div>
                                <input value="@a1.WritingSkills" style="color:black;" type="text" maxlength="3" class="cls-mark-WritingSkills cust-ip" id="count" />
                            </div>
                        </td>
                        <td>
                            <div>
                                <input value="@a1.ReadingSkills" style="color:black;" type="text" maxlength="3" class="cls-mark-ReadingSkills cust-ip" id="count" />
                            </div>
                        </td>
                        <td>
                            <div>
                                <input value="@a1.ListeningSkills" style="color:black;" type="text" maxlength="3" class="cls-mark-ListeningSkills cust-ip" id="count" />
                            </div>
                        </td>

                        <td>
                            <div>
                                <input value="@a1.WeeklyAssessment" style="color:black;" type="text" maxlength="3" class="cls-mark-WeeklyAssessment cust-ip" id="count" />
                            </div>
                        </td>
                        <td>
                            <div>
                                <input value="@a1.SpeakingSkills" style="color:black;" type="text" maxlength="3" class="cls-mark-SpeakingSkills cust-ip" id="count" />
                            </div>
                        </td>
                        <td>
                            <div>
                                <input value="@a1.TerminalAssessment" style="color:black;" type="text" maxlength="3" class="cls-mark-TerminalAssessment cust-ip" id="count" />
                            </div>
                        </td>
                        <td>
                            <div>
                                <input value="@a1.AggregateGrade" style="color:black;" type="text" maxlength="3" class="cls-mark-AggregateGrade cust-ip" id="count" />
                            </div>
                        </td>


                    </tr>
                    count = count + 1;
                }




            </tbody>
        </table>

        <div class="modal-footer">
            <button type="button" id="students-reading-skill-Save_btn" style="width: 100%;" class="btn pay-now-btn">Save</button>
        </div>
    }
    else if (Model.SubjectId == 2) //English
    {
        <table class="table account-table" id="tbstdMarkList">
            <tr id="thead">
                <th style="" class="TH-Slnumber">
                    Sl.No
                </th>
                <th style="color: black;">
                    Name

                </th>
                <th class="Th-English">
                    Writing
                </th>
                <th class="Th-English">
                    Reading
                </th>
                <th class="Th-English">
                    Listening
                </th>

                <th class="Th-English">
                    Weekly Assessment
                </th>
                <th class="Th-English">
                    Speaking
                </th>
                <th class="Th-English">
                    Terminal Assessment
                </th>
                <th class="Th-English">
                    Aggregate Grade
                </th>
            </tr>
            <tbody id="bodyTable">

                @foreach (var a1 in Model._ONE_FOUR)
                {
                    <tr data-id="tbRowAmount" style="color:black;" data-StudentId="@a1.StudentId" data-ClassId="@a1.ClassId" class="cls-tr-class">
                        <td>
                            @*<label>@count</label>*@
                            @count
                        </td>
                        <td>
                            @a1.StundentName
                        </td>
                        <td>
                            <div>
                                <input value="@a1.WritingSkills" style="color:black;" type="text" maxlength="3" class="cls-mark-WritingSkills cust-ip" id="count" />
                            </div>
                        </td>
                        <td>
                            <div>
                                <input value="@a1.ReadingSkills" style="color:black;" type="text" maxlength="3" class="cls-mark-ReadingSkills cust-ip" id="count" />
                            </div>
                        </td>
                        <td>
                            <div>
                                <input value="@a1.ListeningSkills" style="color:black;" type="text" maxlength="3" class="cls-mark-ListeningSkills cust-ip" id="count" />
                            </div>
                        </td>

                        <td>
                            <div>
                                <input value="@a1.WeeklyAssessment" style="color:black;" type="text" maxlength="3" class="cls-mark-WeeklyAssessment cust-ip" id="count" />
                            </div>
                        </td>
                        <td>
                            <div>
                                <input value="@a1.SpeakingSkills" style="color:black;" type="text" maxlength="3" class="cls-mark-SpeakingSkills cust-ip" id="count" />
                            </div>
                        </td>
                        <td>
                            <div>
                                <input value="@a1.TerminalAssessment" style="color:black;" type="text" maxlength="3" class="cls-mark-TerminalAssessment cust-ip" id="count" />
                            </div>
                        </td>
                        <td>
                            <div>
                                <input value="@a1.AggregateGrade" style="color:black;" type="text" maxlength="3" class="cls-mark-AggregateGrade cust-ip" id="count" />
                            </div>
                        </td>


                    </tr>
                    count = count + 1;
                }




            </tbody>
        </table>

        <div class="modal-footer">
            <button type="button" id="students-reading-skill-Save_btn" style="width: 100%;" class="btn pay-now-btn">Save</button>
        </div>
    }
    else if (Model.SubjectId == 3)//Panjabi
    {
        <table class="table account-table" id="tbstdMarkList">
            <tr id="thead">
                <th style="" class="TH-Slnumber">
                    Sl.No
                </th>
                <th style="color: black;">
                    Name

                </th>
                <th class="Th-English">
                    Writing
                </th>
                <th class="Th-English">
                    Reading
                </th>
                <th class="Th-English">
                    Listening
                </th>

                <th class="Th-English">
                    Weekly Assessment
                </th>
                <th class="Th-English">
                    Speaking
                </th>
                <th class="Th-English">
                    Terminal Assessment
                </th>
                <th class="Th-English">
                    Aggregate Grade
                </th>
            </tr>
            <tbody id="bodyTable">

                @foreach (var a1 in Model._ONE_FOUR)
                {
                    <tr data-id="tbRowAmount" style="color:black;" data-StudentId="@a1.StudentId" data-ClassId="@a1.ClassId" class="cls-tr-class">
                        <td>
                            @*<label>@count</label>*@
                            @count
                        </td>
                        <td>
                            @a1.StundentName
                        </td>
                        <td>
                            <div>
                                <input value="@a1.WritingSkills" style="color:black;" type="text" maxlength="3" class="cls-mark-WritingSkills cust-ip" id="count" />
                            </div>
                        </td>
                        <td>
                            <div>
                                <input value="@a1.ReadingSkills" style="color:black;" type="text" maxlength="3" class="cls-mark-ReadingSkills cust-ip" id="count" />
                            </div>
                        </td>
                        <td>
                            <div>
                                <input value="@a1.ListeningSkills" style="color:black;" type="text" maxlength="3" class="cls-mark-ListeningSkills cust-ip" id="count" />
                            </div>
                        </td>

                        <td>
                            <div>
                                <input value="@a1.WeeklyAssessment" style="color:black;" type="text" maxlength="3" class="cls-mark-WeeklyAssessment cust-ip" id="count" />
                            </div>
                        </td>
                        <td>
                            <div>
                                <input value="@a1.SpeakingSkills" style="color:black;" type="text" maxlength="3" class="cls-mark-SpeakingSkills cust-ip" id="count" />
                            </div>
                        </td>
                        <td>
                            <div>
                                <input value="@a1.TerminalAssessment" style="color:black;" type="text" maxlength="3" class="cls-mark-TerminalAssessment cust-ip" id="count" />
                            </div>
                        </td>
                        <td>
                            <div>
                                <input value="@a1.AggregateGrade" style="color:black;" type="text" maxlength="3" class="cls-mark-AggregateGrade cust-ip" id="count" />
                            </div>
                        </td>


                    </tr>
                    count = count + 1;
                }




            </tbody>
        </table>

        <div class="modal-footer">
            <button type="button" id="students-reading-skill-Save_btn" style="width: 100%;" class="btn pay-now-btn">Save</button>
        </div>
    }
    else if (Model.SubjectId == 4)//Mathes
    {
        <table class="table account-table" id="tbstdMarkList">
            <tr id="thead">
                <th class="TH-Slnumber">
                    Sl.No
                </th>
                <th style="color: black;">
                    Name
                </th>
                <th class="Th-English">
                    Concepts / Activity
                </th>
                <th class="Th-English">
                    Tables
                </th>
                <th class="Th-English">
                    Mental Ability
                </th>
                <th class="Th-English">
                    Written Work
                </th>
                <th class="Th-English">
                    Weekly Assessment
                </th>
                <th class="Th-English">
                    Terminal Assessment
                </th>
                <th class="Th-English">
                    Aggregate Grade
                </th>

            </tr>
            <tbody id="bodyTable">

                @foreach (var a1 in Model._ONE_FOUR)
                {
                    <tr data-id="tbRowAmount" style="color:black;" data-StudentId="@a1.StudentId" data-ClassId="@a1.ClassId" class="cls-tr-class">
                        <td>
                            @count
                        </td>
                        <td>
                            @a1.StundentName
                        </td>
                        <td>
                            <div>
                                <input value="@a1.ConceptsActivity" style="color:black;" type="text" maxlength="3" class="cls-mark-ConceptsActivity cust-ip" id="count" />
                            </div>
                        </td>
                        <td>
                            <div>
                                <input value="@a1.Tables" style="color:black;" type="text" maxlength="3" class="cls-mark-Tables cust-ip" id="count" />
                            </div>
                        </td>
                        <td>
                            <div>
                                <input value="@a1.MentelAbility" style="color:black;" type="text" maxlength="3" class="cls-mark-MentelAbility cust-ip" id="count" />
                            </div>
                        </td>
                        <td>
                            <div>
                                <input value="@a1.WrittenWork" style="color:black;" type="text" maxlength="3" class="cls-mark-WrittenWork cust-ip" id="count" />
                            </div>
                        </td>
                        <td>
                            <div>
                                <input value="@a1.WeeklyAssessment" style="color:black;" type="text" maxlength="3" class="cls-mark-WeeklyAssessment cust-ip" id="count" />
                            </div>
                        </td>
                        <td>
                            <div>
                                <input value="@a1.TerminalAssessment" style="color:black;" type="text" maxlength="3" class="cls-mark-TerminalAssessment cust-ip" id="count" />
                            </div>
                        </td>

                        <td>
                            <div>
                                <input value="@a1.AggregateGrade" style="color:black;" type="text" maxlength="3" class="cls-mark-AggregateGrade cust-ip" id="count" />
                            </div>
                        </td>


                    </tr>

                    count = count + 1;
                }




            </tbody>
        </table>

        <div class="modal-footer">
            <button type="button" id="students-reading-skill-Save_btn" style="width: 100%;" class="btn pay-now-btn">Save</button>
        </div>
    }

    else if (Model.SubjectId == 5)//EVS
    {
        <table class="table account-table" id="tbstdMarkList">
            <tr id="thead">
                <th class="TH-Slnumber">
                    Sl.No
                </th>
                <th style="color: black;">
                    Name
                </th>
                <th class="Th-English">
                    Activity Viva
                </th>
                <th class="Th-English">
                    Written Work
                </th>
                <th class="Th-English">
                    Weekly Assessment
                </th>
                <th class="Th-English">
                    Terminal Assessment
                </th>
                <th class="Th-English">
                    Aggregate Grade
                </th>


            </tr>
            <tbody id="bodyTable">

                @foreach (var a1 in Model._ONE_FOUR)
                {
                    <tr data-id="tbRowAmount" style="color:black;" data-StudentId="@a1.StudentId" data-ClassId="@a1.ClassId" class="cls-tr-class">
                        <td>
                            @count
                        </td>
                        <td>
                            @a1.StundentName
                        </td>
                        <td>
                            <div>
                                <input value="@a1.ActivityViva" style="color:black;" type="text" maxlength="3" class="cls-mark-ActivityViva cust-ip" id="count" />
                            </div>
                        </td>
                        <td>
                            <div>
                                <input value="@a1.WrittenWork" style="color:black;" type="text" maxlength="3" class="cls-mark-WrittenWork cust-ip" id="count" />
                            </div>
                        </td>
                        <td>
                            <div>
                                <input value="@a1.WeeklyAssessment" style="color:black;" type="text" maxlength="3" class="cls-mark-WeeklyAssessment cust-ip" id="count" />
                            </div>
                        </td>
                        <td>
                            <div>
                                <input value="@a1.TerminalAssessment" style="color:black;" type="text" maxlength="3" class="cls-mark-TerminalAssessment cust-ip" id="count" />
                            </div>
                        </td>
                        <td>
                            <div>
                                <input value="@a1.AggregateGrade" style="color:black;" type="text" maxlength="3" class="cls-mark-AggregateGrade cust-ip" id="count" />
                            </div>
                        </td>



                    </tr>

                    count = count + 1;
                }




            </tbody>
        </table>

        <div class="modal-footer">
            <button type="button" id="students-reading-skill-Save_btn" style="width: 100%;" class="btn pay-now-btn">Save</button>
        </div>
    }
    else if (Model.SubjectId == 6)////Co-Scholastic..
    {
        <table class="table account-table" id="tbstdMarkList">
            <tr id="thead">
                <th class="TH-Slnumber">
                    Sl.No
                </th>
                <th style="color: black;">
                    Name
                </th>
                <th class="Th-English">
                    Art Interest
                </th>
                <th class="Th-English">
                    Art Creativity
                </th>
                <th class="Th-English">
                    Music Interest
                </th>                
                <th class="Th-English">
                    Music Rhythm
                </th>
                <th class="Th-English">
                    Enthusiasm
                </th>
                <th class="Th-English">
                    Discipline
                </th>
                @*...........................*@
                <th class="Th-English">
                    Team Spirit
                </th>

                @*..................................*@

                <th class="Th-English">
                    Computer Science
                </th>
                <th class="Th-English">
                    General Studies
                </th>
                <th class="Th-English">
                    Value education
                </th>
                <th class="Th-English">
                    YLE
                </th>
                <th class="Th-English">
                    French
                </th>
                


            </tr>
            <tbody id="bodyTable">

                @foreach (var a1 in Model._ONE_FOUR)
                {
                    <tr data-id="tbRowAmount" style="color:black;" data-StudentId="@a1.StudentId" data-ClassId="@a1.ClassId" class="cls-tr-class">
                        <td>
                            @count
                        </td>
                        <td>
                            @a1.StundentName
                        </td>
                        <td>
                            <div>
                                <input value="@a1.ArtInterest" style="color:black;" type="text" maxlength="3" class="cls-mark-ArtInterest cust-ip" id="count" />
                            </div>
                        </td>

                        <td>
                            <div>
                                <input value="@a1.ArtCreativity" style="color:black;" type="text" maxlength="3" class="cls-mark-ArtCreativity cust-ip" id="count" />
                            </div>
                        </td>
                        <td>
                            <div>
                                <input value="@a1.MusicInterest" style="color:black;" type="text" maxlength="3" class="cls-mark-MusicInterest cust-ip" id="count" />
                            </div>
                        </td>

                        @*.......................*@
                       
                        <td>
                            <div>
                                <input value="@a1.MusicRhythm" style="color:black;" type="text" maxlength="3" class="cls-mark-MusicRhythm cust-ip" id="count" />
                            </div>
                        </td>

                         
                        <td>
                            <div>
                                <input value="@a1.Enthusiasm" style="color:black;" type="text" maxlength="3" class="cls-mark-Enthusiasm cust-ip" id="count" />
                            </div>
                        </td>
                        <td>
                            <div>
                                <input value="@a1.Discipline" style="color:black;" type="text" maxlength="3" class="cls-mark-Discipline cust-ip" id="count" />
                            </div>
                        </td>

                        <td>
                            <div>
                                <input value="@a1.TeamSpirit" style="color:black;" type="text" maxlength="3" class="cls-mark-TeamSpirit cust-ip" id="count" />
                            </div>
                        </td>
                        @*.......................*@

                        <td>
                            <div>
                                <input value="@a1.ComputerScience" style="color:black;" type="text" maxlength="3" class="cls-mark-ComputerScience cust-ip" id="count" />
                            </div>
                        </td>

                        <td>
                            <div>
                                <input value="@a1.GeneralStudies" style="color:black;" type="text" maxlength="3" class="cls-mark-GeneralStudies cust-ip" id="count" />
                            </div>
                        </td>
                        <td>
                            <div>
                                <input value="@a1.Valueeducation" style="color:black;" type="text" maxlength="3" class="cls-mark-Valueeducation cust-ip" id="count" />
                            </div>
                        </td>
                        <td>
                            <div>
                                <input value="@a1.YLE" style="color:black;" type="text" maxlength="3" class="cls-mark-YLE cust-ip" id="count" />
                            </div>
                        </td>
                        <td>
                            <div>
                                <input value="@a1.French" style="color:black;" type="text" maxlength="3" class="cls-mark-French cust-ip" id="count" />
                            </div>
                        </td>
                        



                    </tr>

                    count = count + 1;
                }




            </tbody>
        </table>

        <div class="modal-footer">
            <button type="button" id="students-reading-skill-Save_btn" style="width: 100%;" class="btn pay-now-btn">Save</button>
        </div>
    }
    else if (Model.SubjectId == 7) //Personality Development
    {
        <table class="table account-table" id="tbstdMarkList">
            <tr id="thead">
                <th class="TH-Slnumber">
                    Sl.No
                </th>
                <th style="color: black;">
                    Name
                </th>
                <th class="Th-English">
                    Court eousness
                </th>
                <th class="Th-English">
                    Confidence
                </th>
                <th class="Th-English">
                    Care of belongings
                </th>
                <th class="Th-English">
                    Neatness
                </th>
                <th class="Th-English">
                    Punctuality
                </th>
                <th class="Th-English">
                    Initiative
                </th>
                <th class="Th-English">
                    Sharing & Caring
                </th>
                



            </tr>
            <tbody id="bodyTable">

                @foreach (var a1 in Model._ONE_FOUR)
                {
                    <tr data-id="tbRowAmount" style="color:black;" data-StudentId="@a1.StudentId" data-ClassId="@a1.ClassId" class="cls-tr-class">
                        <td>
                            @count
                        </td>
                        <td>
                            @a1.StundentName
                        </td>
                        <td>
                            <div>
                                <input value="@a1.Courteousness" style="color:black;" type="text" maxlength="3" class="cls-mark-Courteousness cust-ip" id="count" />
                            </div>
                        </td>
                        <td>
                            <div>
                                <input value="@a1.Confidence" style="color:black;" type="text" maxlength="3" class="cls-mark-Confidence cust-ip" id="count" />
                            </div>
                        </td>
                        <td>
                            <div>
                                <input value="@a1.Careofbelongings" style="color:black;" type="text" maxlength="3" class="cls-mark-Careofbelongings cust-ip" id="count" />
                            </div>
                        </td>
                        <td>
                            <div>
                                <input value="@a1.Neatness" style="color:black;" type="text" maxlength="3" class="cls-mark-Neatness cust-ip" id="count" />
                            </div>
                        </td>
                        <td>
                            <div>
                                <input value="@a1.Punctuality" style="color:black;" type="text" maxlength="3" class="cls-mark-Punctuality cust-ip" id="count" />
                            </div>
                        </td>

                        <td>
                            <div>
                                <input value="@a1.Initiative" style="color:black;" type="text" maxlength="3" class="cls-mark-Initiative cust-ip" id="count" />
                            </div>
                        </td>
                        <td>
                            <div>
                                <input value="@a1.SharingCaring" style="color:black;" type="text" maxlength="3" class="cls-mark-SharingCaring cust-ip" id="count" />
                            </div>
                        </td>
                       

                    </tr>

                    count = count + 1;
                }




            </tbody>
        </table>

        <div class="modal-footer">
            <button type="button" id="students-reading-skill-Save_btn" style="width: 100%;" class="btn pay-now-btn">Save</button>
        </div>
    }
    else if (Model.SubjectId == 8) //hEALTH AND Attendence
    {
        <table class="table account-table" id="tbstdMarkList">
            <tr id="thead">
                <th class="TH-Slnumber">
                    Sl.No
                </th>
                <th style="color: black;">
                    Name
                </th>
                <th class="Th-English">
                    Height
                </th>
                <th class="Th-English">
                    Weight
                </th>
                <th class="Th-English">
                    No. 0f Working days
                </th>
                <th class="Th-English">
                    Days Present
                </th>
                <th class="Th-English">
                    Aggregate Grade
                </th>
                 


            </tr>
            <tbody id="bodyTable">

                @foreach (var a1 in Model._ONE_FOUR)
                {
                    <tr data-id="tbRowAmount" style="color:black;" data-StudentId="@a1.StudentId" data-ClassId="@a1.ClassId" class="cls-tr-class">
                        <td>
                            @count
                        </td>
                        <td>
                            @a1.StundentName
                        </td>
                        <td>
                            <div>
                                <input value="@a1.Height" style="color:black;" type="text" maxlength="3" class="cls-mark-Height cust-ip" id="count" />
                            </div>
                        </td>
                        <td>
                            <div>
                                <input value="@a1.Weight" style="color:black;" type="text" maxlength="3" class="cls-mark-Weight cust-ip" id="count" />
                            </div>
                        </td>
                        <td>
                            <div>
                                <input value="@a1.NoOfWorkingdays" style="color:black;" type="text" maxlength="3" class="cls-mark-NoOfWorkingdays cust-ip" id="count" />
                            </div>
                        </td>
                        <td>
                            <div>
                                <input value="@a1.DaysPresent" style="color:black;" type="text" maxlength="3" class="cls-mark-DaysPresent cust-ip" id="count" />
                            </div>
                        </td>
                        <td>
                            <div>
                                <input value="@a1.AggregateGrade" style="color:black;" type="text" maxlength="3" class="cls-mark-AggregateGrade cust-ip" id="count" />
                            </div>
                        </td>



                    </tr>

                    count = count + 1;
                }




            </tbody>
        </table>

        <div class="modal-footer">
            <button type="button" id="students-reading-skill-Save_btn" style="width: 100%;" class="btn pay-now-btn">Save</button>
        </div>
    }
    else if (Model.SubjectId == 9)
    {
        <table class="table account-table" id="tbstdMarkList">
            <tr class="TH-Slnumber">
                <th style="color: black;">
                    Sl.No
                </th>
                <th style="color: black;">
                    Name
                </th>
                <th style="color: black;">
                    Remark
                </th>

            </tr>



            <tbody id="bodyTable">
                @foreach (var a1 in Model._ONE_FOUR)
                {

                    <tr data-id="tbRowAmount" style="color:black;" data-StudentId="@a1.StudentId" data-ClassId="@a1.ClassId" class="cls-tr-class">
                        <td>
                            @count
                        </td>
                        <td>
                            @a1.StundentName
                        </td>
                        <td>
                            <div>
                                <textarea style="color:black;width: 100%;" type="t" class="cls-mark-Remarks" id="count">@a1.Remarks</textarea>
                            </div>
                        </td>



                    </tr>

                    count = count + 1;
                }



            </tbody>
        </table>

                <div class="modal-footer">
                    <button type="button" id="students-reading-skill-Save_btn" style="width: 100%;" class="btn pay-now-btn">Save</button>
                </div>
    }


</div>
