@model Satluj_Latest.Models.SubjectScoreModel
@{
    Layout = "~/Views/Shared/_SchoolAdminLayout.cshtml";
        bool IsAdmin = ViewBag.IsAdmin;
}
@Html.HiddenFor(z => z.SchoolId, new { Value = @Model.SchoolId })
@Html.HiddenFor(z => z.SubjectId, new { Value = @Model.SubjectId })
@Html.HiddenFor(z => z.UserId, new { Value = @Model.UserId })
@Html.HiddenFor(z => z.IsAdminCheck, new { Value = @Model.IsAdminCheck })

<div class="row">
    <div class="col-lg-12">
        <h4 style="margin-top: 5px;">I to IV RESULTS - SCHOLASTIC</h4>
        <br />
        @if (IsAdmin)
        {
            <div class="row">
                <div class="form-group col-sm-2">
                    <div class="form-group">
                        <label>Class : </label>
                        <br />
                        <select asp-for="ClassId"
                                asp-items="@(IEnumerable<SelectListItem>)ViewBag.ClassList"
                                class="form-control ClassId-id"
                                data-live-search="true">
                            <option value="">--Choose--</option>
                        </select>

                        <span asp-validation-for="ClassId" class="text-danger"></span>

                    </div>
                </div>
                <div class="form-group col-sm-2">
                    <div class="form-group">
                        <label>Division : </label>
                        <br />
                        <select class="form-control class-drop-down" disabled></select>


                    </div>
                </div>
                <div class="form-group col-sm-2">
                    <div class="form-group">
                        <label>Assesments : </label>
                        <br />
                        <select class="form-control assesment-id" disabled></select>
                    </div>
                </div>
                <div class="form-group col-sm-3">
                    <div class="form-group">
                        <label>Subject :</label>
                        <select class="form-control slct-subject-dropdown" disabled></select>
                    </div>
                </div>
                @*<div class="form-group col-sm-3">
                        <div class="form-group">
                            <label>Skill : </label>
                            <br />

                            <select class="form-control skill_selction" disabled></select>

                        </div>
                    </div>*@

            </div>
        }
        else
        {
            <div class="row">
                <div class="form-group col-sm-2">
                    <div class="form-group">
                        <label>Class : </label>
                        <br />
                        <select asp-for="ClassId"
                                asp-items="@(IEnumerable<SelectListItem>)ViewBag.ClassList"
                                class="form-control ClassId-id"
                                data-live-search="true">
                            <option value="">--Choose--</option>
                        </select>

                        <span asp-validation-for="ClassId" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group col-sm-2">
                    <div class="form-group">
                        <label>Division : </label>
                        <br />
                        <select class="form-control class-drop-down" disabled></select>
                    </div>
                </div>
                <div class="form-group col-sm-2">
                    <div class="form-group">
                        <label>Assesments : </label>
                        <br />
                        <select class="form-control assesment-id" disabled></select>
                    </div>
                </div>
                <div class="form-group col-sm-3">
                    <div class="form-group">
                        <label>Subject :</label>
                        <select class="form-control slct-subject-dropdown" disabled></select>
                    </div>
                </div>
                @*<div class="form-group col-sm-3">
                        <div class="form-group">
                            <label>Skill : </label>
                            <br />

                            <select class="form-control skill_selction" disabled></select>
                        </div>
                    </div>*@

            </div>
        }

    </div>
</div>
<div class="row col-lg-3">
    <button type="button" id="students-Mark-Search_btn" style="width: 100%;" class="btn pay-now-btn">Search</button>
</div>
<div class="row col-lg-12" id="result-entry-div-id" style="margin-top:10px;">

</div>

<script>
    //id_sub_menu_kg
    $("#id_sub_menu_ONE_FOUR").addClass("open");
    $("#Id_ReadingSkillsHome_ONE_FOUR").addClass("active");

    $(".assesment-id").append($('<option></option>').val("0").html('-- Select Assesments --'));
    $(".class-drop-down").append($('<option></option>').val("0").html('-- Select Division --'));
    $(".slct-subject-dropdown").append($('<option></option>').val("0").html('-- Select Subject --'));
    $(".skill_selction").append($('<option></option>').val("0").html('-- Select Skill --'));

    $(".assesment-id").prop("disabled", true);
    $(".slct-subject-dropdown").prop("disabled", true);
    $(".skill_selction").prop("disabled", true);

    $(document).on('change', '.ClassId-id', function () {

        $('#result-entry-div-id').html('');



        $(".assesment-id").html("");
        $(".class-drop-down").html("");
        $(".slct-subject-dropdown").html("");
        $(".skill_selction").html("");

        $(".assesment-id").append($('<option></option>').val("0").html('-- Select Assesments --'));
        $(".class-drop-down").append($('<option></option>').val("0").html('-- Select Division --'));
        $(".slct-subject-dropdown").append($('<option></option>').val("0").html('-- Select Subject --'));
        $(".skill_selction").append($('<option></option>').val("0").html('-- Select Skill --'));

        $(".assesment-id").prop("disabled", true);
        $(".slct-subject-dropdown").prop("disabled", true);
        $(".skill_selction").prop("disabled", true);

            var id = $(".ClassId-id option:selected").text();
            if (id != '') {
                $.ajax({
                    url: '/Data/LoadSpecialDivission_ONE_FOUR?id=' + id + '~' + $('#SchoolId').val(),
                    type: "GET",
                    success: function (result) {
                        if (result.list.length > 0) {
                            $(".class-drop-down").html("");
                            $(".class-drop-down").append($('<option></option>').val("0").html('-- Select Division --'));
                            $.each(result.list, function (i, item) {
                                $(".class-drop-down").append($('<option></option>').val(item.Value).html(item.Text));
                            });
                            $(".class-drop-down").prop("disabled", false);
                        }
                        else {

                            $(".class-drop-down").html("");
                            $(".class-drop-down").append($('<option></option>').val("").html('---'));
                            $(".class-drop-down").prop("disabled", true);
                        }
                    }
                });
            }
            else {
                $(".class-drop-down").html("");
                $(".class-drop-down").append($('<option></option>').val("").html('---'));
                $(".class-drop-down").prop("disabled", true);
            }



    });



    $(document).on('change', '.class-drop-down', function () {

        $('#result-entry-div-id').html('');



        $(".skill_selction").html("");
        $(".slct-subject-dropdown").html("");
        $(".assesment-id").html("");

        $(".skill_selction").append($('<option></option>').val("0").html('-- Select Skill --'));
        $(".slct-subject-dropdown").append($('<option></option>').val("0").html('-- Select Subject --'));

        $(".skill_selction").prop("disabled", true);
        $(".slct-subject-dropdown").prop("disabled", true);
        $(".assesment-id").prop("disabled", false);





        $.ajax({
            url: '/Data/LoadSpecialAssesments_ONE_FOUR?SchoolId=' + $('#SchoolId').val(),
            type: "GET",
            success: function (result) {
                if (result.list.length > 0) {
                    $(".assesment-id").html("");
                    $(".assesment-id").append($('<option></option>').val("0").html('-- Select Assesments --'));
                    $.each(result.list, function (i, item) {
                        $(".assesment-id").append($('<option></option>').val(item.Value).html(item.Text));
                    });
                    $(".assesment-id").prop("disabled", false);
                }
                else {

                    $(".assesment-id").html("");
                    $(".assesment-id").append($('<option></option>').val("").html('---'));
                    $(".assesment-id").prop("disabled", true);
                }
            }
        });



    });

    $(document).on('change', '.assesment-id', function () {
        $('#result-entry-div-id').html('');

        $(".skill_selction").prop("disabled", true);
        $(".skill_selction").html("");
        $(".skill_selction").append($('<option></option>').val("0").html('-- Select Skill --'));

        $(".slct-subject-dropdown").prop("disabled", false);
        $(".slct-subject-dropdown").html("");
        $.ajax({
            url: '/Data/LoadSpecialSubjects_ONE_FOUR?id=' + 0 + '~' + $('#SchoolId').val(),
            type: "GET",
            success: function (result) {
                if (result.list.length > 0) {
                    $(".slct-subject-dropdown").html("");
                    $(".slct-subject-dropdown").append($('<option></option>').val("0").html('-- Select Subject --'));
                    $.each(result.list, function (i, item) {
                        $(".slct-subject-dropdown").append($('<option></option>').val(item.Value).html(item.Text));
                    });
                    $(".slct-subject-dropdown").prop("disabled", false);
                }
                else {

                    $(".slct-subject-dropdown").html("");
                    $(".slct-subject-dropdown").append($('<option></option>').val("").html('---'));
                    $(".slct-subject-dropdown").prop("disabled", true);
                }
            }
        });



    });

    $(document).on('change', '.slct-subject-dropdown', function () {
        $('#result-entry-div-id').html('');
        $(".skill_selction").prop("disabled", false);
        $(".skill_selction").html("");
        var id = $(".slct-subject-dropdown option:selected").val();
        if (id != '') {
            $.ajax({
                url: '/Data/Scholasticareas_ONE_FOUR?id=' + id + '~' + $('#SchoolId').val(),
                type: "GET",
                success: function (result) {
                    if (result.list.length > 0) {
                        $(".skill_selction").html("");
                        $(".skill_selction").append($('<option></option>').val("0").html('-- Select Subject --'));
                        $.each(result.list, function (i, item) {
                            $(".skill_selction").append($('<option></option>').val(item.Value).html(item.Text));
                        });
                        $(".skill_selction").prop("disabled", false);
                    }
                    else {

                        $(".skill_selction").html("");
                        $(".skill_selction").append($('<option></option>').val("").html('---'));
                        $(".skill_selction").prop("disabled", true);
                    }
                }
            });
        }




    });

    $("#students-Mark-Search_btn").click(function () {
        var assesmentId = $(".ClassId-id option:selected").val();
        if (assesmentId == 0) {
            toastrError('Please select the Class!');
        }
        else {
            var divisionId = $(".class-drop-down option:selected").val();
            if (divisionId == 0) {
                toastrError('Please select the Division!');
            }
            else {
                var subjectId = $(".assesment-id option:selected").val();
                if (subjectId == 0) {
                    toastrError('Please select the Assesments!');
                }
                else {
                    var subjectId = $(".slct-subject-dropdown option:selected").val();
                    if (subjectId == 0) {
                        toastrError('Please select the Subject!');
                    }
                    else {
                        LoadDetails();
                    }

                }
            }
        }
    });

    function LoadDetails() {
        var admin = $('#IsAdminCheck').val();
        if (admin == 0) {
            LoadAsNonAdmin();
        }
        else {
            // LoadAsAdmin();////////pending  
            LoadAsNonAdmin();
        }

    };

    function LoadAsNonAdmin() {
         
        var ClassId = $(".ClassId-id option:selected").val();
        var DivisionId = $(".class-drop-down option:selected").val();
        var AssesmentId = $(".assesment-id option:selected").val();
        var SubjectId = $(".slct-subject-dropdown option:selected").val();


        //var skillId = $(".skill_selctionByTeacher option:selected").val();

        var id = ClassId + '~' + DivisionId + '~' + AssesmentId + '~' + SubjectId;
        $.ajax({
            url: '/SpecialClass/LoadAllStudentsWithSkillsMarks_ONE_FOUR?id=' + id,
            type: "GET",
            dataType: 'html',
            success: function (data) {
                
                $('#result-entry-div-id').html('');
                $('#result-entry-div-id').html(data);
            },
            error: function (data) {
                debugger;
                alert(data);
        }
            
        });
    }

    $(document).on('click', '#students-reading-skill-Save_btn', function () {       
        var source = $(this);
        storeReadingSkills_Others(source);
    });

    function storeReadingSkills_Others(source) {
        
        var dataList = new Object();
        dataList.SchoolId = $('#SchoolId').val();
        dataList.DivisionId = $('#DivisionId').val();
        dataList.AssesmentId = $('#AssesmentId').val();
        //dataList.SubjectId = $('#SubjectId').val();
        dataList.SubjectId = $(".slct-subject-dropdown option:selected").val();
        dataList._SkillModel = [];
        $('.cls-tr-class').each(function (index, elem) {
            
            var data = new Object();
            data.ONE_FOUR = new Object();
            data.StudentId = $(this).attr('data-StudentId');
            data.ClassId = $(this).attr('data-ClassId');
            data.Languages = $(".slct-subject-dropdown option:selected").val();

             
            data.ONE_FOUR.ActivityViva = $(this).find('.cls-mark-ActivityViva').val();
            data.ONE_FOUR.ReadingSkills = $(this).find('.cls-mark-ReadingSkills').val();
            data.ONE_FOUR.WritingSkills = $(this).find('.cls-mark-WritingSkills').val();
            data.ONE_FOUR.ListeningSkills = $(this).find('.cls-mark-ListeningSkills').val();
            data.ONE_FOUR.WeeklyAssessment = $(this).find('.cls-mark-WeeklyAssessment').val();
            data.ONE_FOUR.SpeakingSkills = $(this).find('.cls-mark-SpeakingSkills').val();
            data.ONE_FOUR.TerminalAssessment = $(this).find('.cls-mark-TerminalAssessment').val();

            data.ONE_FOUR.AggregateGrade = $(this).find('.cls-mark-AggregateGrade').val();
            data.ONE_FOUR.ConceptsActivity = $(this).find('.cls-mark-ConceptsActivity').val();
            data.ONE_FOUR.Tables = $(this).find('.cls-mark-Tables').val();

            data.ONE_FOUR.MentelAbility = $(this).find('.cls-mark-MentelAbility').val();
            data.ONE_FOUR.WrittenWork = $(this).find('.cls-mark-WrittenWork').val();


            //data._ReadingSkill.Fluency = $(this).find('.cls-mark-Fluency').val();
            //data.StudentName = '';
            dataList._SkillModel.push(data);
        });
        $.ajax({
            url: "/SpecialClass/SubmitStudentSkill_ONE_FOUR",
            type: "POST",
            dataType: 'json',
            data: dataList,
            global: false,
            success: function (response) {
                if (response.status) {
                    toastrSuccess(response.msg);
                    LoadDetails();
                }
                else {
                    //toastrSuccess(response.msg);
                    //LoadDetails();
                    toastrError(response.msg);
                }
            },
            error: function (data) {
            }
        });
    };



    ///////////////////////////////////////////////////////////////////////////////



</script>