@model Satluj_Latest.Models.ListFee

<thead>
    <tr>
        <th>Slno</th>
        <th>Fee Name</th>
        <th>Fee Type</th>
        <th></th>
    </tr>
</thead>

<tbody>
    @if (Model.Fees != null && Model.Fees.Any())
    {
        int i = 1;
        foreach (var item in Model.Fees)
        {
            <tr data-feeid="@item.FeeId">
                <td class="ng-click-feeDetails" data-feeid="@item.FeeId" data-feetype="@item.FeeType">@i</td>
                <td class="ng-click-feeDetails" data-feeid="@item.FeeId" data-feetype="@item.FeeType">@item.FeesName</td>

                <td class="ng-click-feeDetails" data-feeid="@item.FeeId" data-feetype="@item.FeeType">
                    @(item.FeeType == 1 ? "Common Fee" : "Special Fee")
                </td>

                <td>
                    <button class="delete-fee-tr btn btn-peek" data-feeid="@item.FeeId"><i class="fa fa-trash"></i></button>
                    <button class="edit-fee-tr btn pay-now-btn" data-feeid="@item.FeeId"><i class="fa fa-edit"></i></button>
                </td>
            </tr>

            i++;
        }
    }
    else
    {
        <tr><td colspan="4">No fees found.</td></tr>
    }
</tbody>