@model Satluj_Latest.Models.CalendarEventModels
@{
    var calender = new Satluj_Latest.Data.School(Model.schoolId).GetCalendarEventByDate(Model.startDate, Model.endDate);
        bool IsAdmin = ViewBag.IsAdmin;
}


<thead>
    <tr>
        <th>
            Slno
        </th>
        <th>
            Event Head
        </th>
        <th>
            Event Details
        </th>
        <th>
            Event Date
        </th>
        @if (IsAdmin == true)
        {
            <th> </th>
        }
    </tr>
</thead>
<tbody>
    @{
        int i = 1;
        foreach (var cal in calender)
        {
            <tr>
                <td class="ng-teacherDetails-click">
                    @i
                </td>
                <td class="ng-teacherDetails-click">
                    @cal.EventHead
                </td>
                <td class="ng-teacherDetails-click">
                    @cal.EventDetails
                </td>
                <td class="ng-teacherDetails-click">
                    @cal.EventDate.ToString("dd/MM/yyyy")
                </td>
                @if (IsAdmin == true)
                {
                    <td>
                        <button class="delete-category-tr btn-peek" data-id="@cal.EventId"><i class="fa fa-trash "></i></button>
                        <button class="edit-staff-tr pay-now-btn" data-id="@cal.EventId"><i class="fa fa-edit "></i></button>
                    </td>
                }
            </tr>
            i++;
        }
    }
</tbody>
