@model Satluj_Latest.Models.EditStudentModel

<div class="modal-dialog" role="document">
    <div class="modal-content">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Edit Student</h4>
        </div>

        <form asp-controller="School"
              asp-action="EditStudent"
              method="post" id="editStudentForm"
              enctype="multipart/form-data">

            <div class="modal-body">

                <div class="row">

                    <!-- LEFT SIDE -->
                    <div class="col-sm-6">

                        <input type="hidden" asp-for="studentId" />
                        <input type="hidden" asp-for="BusId" />
                        <input type="hidden" asp-for="divisionId" />
                        <input type="hidden" asp-for="classId" />

                        <div class="text-center">
                            <label>Profile Picture</label>

                            <div class="upload-box"
                                 id="file_preview_grid_edit"
                                 style="background-image:url(@(Model.filePath ?? "/Content/img/default-placeholder-1024x1024-960x960.png"));">

                                <input type="file" id="default-editpic-browse" class="uploder-controler" />
                                <input type="hidden" asp-for="profilePic" />

                            </div>
                        </div>

                        <div class="form-group">
                            <label>Name</label>
                            <input asp-for="studentName" class="form-control" />
                            <span asp-validation-for="studentName"></span>
                        </div>

                        <div class="form-group">
                            <label>Admission No</label>
                            <input asp-for="admissionNo" class="form-control" />
                            <span asp-validation-for="admissionNo"></span>
                        </div>

                        <div class="form-group">
                            <label>Email</label>
                            <input asp-for="parentEmail" class="form-control" />
                        </div>

                        <div class="form-group">
                            <label>Mobile</label>
                            <input asp-for="MobileNo" class="form-control" />
                        </div>

                        <div class="form-group">
                            <label>DOB</label>
                            <input asp-for="DOBstring" id="DOBstring" class="form-control datepicker" />
                        </div>

                        <div class="form-group">
                            <label>Mother Tongue</label>
                            <input asp-for="MotherTongue" class="form-control" />
                        </div>

                        <div class="form-group">
                            <label>Country</label>
                            <select asp-for="CountryId"
                                    asp-items="Html.GetEnumSelectList<Country>()"
                                    class="form-control">
                                <option value="">--Choose--</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Address</label>
                            <textarea asp-for="address" class="form-control"></textarea>
                        </div>

                    </div>


                    <!-- RIGHT SIDE -->
                    <div class="col-sm-6">

                        <div class="row">

                            <div class="col-sm-6">
                                <label>State</label>
                                <input asp-for="state" class="form-control" />
                            </div>

                            <div class="col-sm-6">
                                <label>City</label>
                                <input asp-for="city" class="form-control" />
                            </div>

                        </div>


                        <div class="row">

                            <div class="col-sm-6">
                                <label>Class</label>
                                <input value="@Model.className" class="form-control" readonly />
                            </div>

                            <div class="col-sm-6">
                                <label>Division</label>
                                <input value="@Model.division" class="form-control" readonly />
                            </div>

                        </div>


                        <div class="form-group">
                            <label>Blood Group</label>
                            <select asp-for="bloodGroup" class="form-control">
                                <option value="">--Choose--</option>
                                <option value="O-">O-</option>
                                <option value="O+">O+</option>
                                <option value="A-">A-</option>
                                <option value="A+">A+</option>
                                <option value="B-">B-</option>
                                <option value="B+">B+</option>
                                <option value="AB-">AB-</option>
                                <option value="AB+">AB+</option>
                            </select>
                        </div>


                        <div class="form-group">
                            <label>Gender</label><br />

                            <label>
                                @Html.RadioButtonFor(x => x.gender, "M") Male
                            </label>

                            <label>
                                @Html.RadioButtonFor(x => x.gender, "F") Female
                            </label>

                        </div>


                        <div class="form-group">
                            <label>Roll No</label>
                            <input asp-for="RollNo1" class="form-control" />
                        </div>


                        <div class="form-group">
                            <label>Contact No</label>
                            <input asp-for="contactNo" class="form-control" />
                        </div>


                        <div class="form-group">
                            <label>Category</label>
                            <select asp-for="CategoryId"
                                    asp-items="Html.GetEnumSelectList<StudentCategory>()"
                                    class="form-control">
                                <option value="">--Choose--</option>
                            </select>
                        </div>


                        <div class="form-group">
                            <label>Date Of Joining</label>
                            <input asp-for="DateOfJoiningString"
                                   id="DateOfJoiningString"
                                   class="form-control datepicker" />
                        </div>


                        <div class="form-group">
                            <label>Place Of Birth</label>
                            <input asp-for="PlaceOfBirth" class="form-control" />
                        </div>


                        <div class="form-group">
                            <label>Nationality</label>
                            <select asp-for="NationalityId"
                                    asp-items="Html.GetEnumSelectList<Nationality>()"
                                    class="form-control">
                                <option value="">--Choose--</option>
                            </select>
                        </div>


                        <div class="form-group">
                            <label>Pincode</label>
                            <input asp-for="Pincode" class="form-control" />
                        </div>

                    </div>

                </div>

            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn pay-now-btn">Save</button>
            </div>

        </form>

    </div>
</div>
<script>

        

    $(document).ready(function () {

        $('.datepicker').datepicker({
            format: "dd-mm-yyyy",
            autoclose: true,
            todayHighlight: true,
            endDate: '+d'
        });

    });

    $("#editStudentForm").submit(function (e) {

        e.preventDefault();

        var form = this;

        $.ajax({
            url: $(form).attr("action"),
            type: "POST",
            data: new FormData(form),
            processData: false,
            contentType: false,

            success: function (response) {

                if (response.status) {

                    toastr.success(response.msg);

                    setTimeout(function () {
                        location.reload();
                    }, 1200);

                }
                else {

                    toastr.error(response.msg);

                }

            },

            error: function () {

                toastr.error("Something went wrong!");

            }

        });

    });

</script>
