@model Satluj_Latest.Models.StockUpdateModel

<style>
    .isHidden {
        display: none;
    }

    span {
        color: red;
    }
</style>

<div class="modal-dialog" role="document">
    <div class="modal-content">

        <div class="modal-header">
            <h5 class="modal-title">Edit Stock</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <form id="form-edit-stock"
              asp-controller="Laboratory"
              asp-action="SubmitEditStockUpdate"
              method="post">

            @Html.HiddenFor(m => m.StockId)

            <div class="modal-body">

                <div class="row">

                    <div class="col-sm-4">
                        <label>Category :</label>
                        @Html.DropDownListFor(
                        m => m.CategoryId,
                                                Model.LabCategories,
                                                "--Select--",
                                                new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.CategoryId)
                    </div>

                    <div class="col-sm-4">
                        <label>Item :</label>
                        @Html.TextBoxFor(m => m.Item,
                                                new { @class = "form-control", placeholder = "Item" })
                        @Html.ValidationMessageFor(m => m.Item)
                    </div>

                    <div class="col-sm-4">
                        <label>Price :</label>
                        @Html.TextBoxFor(m => m.Price,
                                                new { @class = "form-control", placeholder = "Price" })
                        @Html.ValidationMessageFor(m => m.Price)
                    </div>

                </div>

                <div class="row mt-2">

                    <div class="col-sm-4">
                        <label>Purchase Id :</label>
                        @Html.TextBoxFor(m => m.PurchaseId,
                                                new { @class = "form-control", placeholder = "Purchase Id" })
                    </div>

                    <div class="col-sm-4">
                        <label>Supplier Name :</label>
                        @Html.TextBoxFor(m => m.SupplirName,
                                                new { @class = "form-control", id = "supplier-auto-complete-edit" })
                    </div>

                    <div class="col-sm-4">
                        <label>Status :</label>

                        @Html.DropDownListFor(
                                                m => m.Status,
                                                new SelectList(Html.GetEnumSelectList<StockStatus>(), "Value", "Text", Model.Status),
                                                "--Choose--",
                                                new { @class = "form-control" }
                                                )

                        @Html.ValidationMessageFor(m => m.Status)
                    </div>

                </div>

            </div>

            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>

        </form>

    </div>
</div>
<script>
    $(document).on("submit", "#form-edit-stock", function (e) {
        e.preventDefault();

        $.ajax({
            url: $(this).attr("action"),
            type: "POST",
            data: $(this).serialize(),
            success: function () {
                EditStockUpdateSuccess();
            },
            error: function () {
                EditStockUpdateFailed();
            }
        });
    });

    function EditStockUpdateSuccess() {
        alert("Stock updated successfully");
        $("#editStockModal").modal('hide');
    }

    function EditStockUpdateFailed() {
        alert("Error while updating stock");
    }
</script>
